<p>Workitems</p>

<div class="workitems-toolbar">
  <div> Number: {{ workitems().length }}</div>
  <div class="workitems-actions">
    <button type="button" class="workitems-save" (click)="saveAll()">
      Save Changes
    </button>
    <button type="button" class="workitems-reset" (click)="resetLocalCache()">
      Reset local cache
    </button>
  </div>
</div>
<div class="workitems">
@for(workitem of workitems(); track workitem.id) {
    <app-workitem
      [id]="workitem.id"
      [title]="workitem.title"
      [description]="workitem.description"
      [estimate]="workitem.estimate"
      [verdict]="workitem.verdict"
      [estimateExplanation]="workitem.estimateExplanation ?? ''"
      (workitemChange)="onWorkitemChange($event)"
      [subitems]="workitem.subitems ?? []"
    ></app-workitem>
  } 
</div>  
