/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(8,14,36);
    font-family: "Open Sans", sans-serif;
    color : white;

}

.profile-image{
    border-radius: 50%;
    width: 58px;
    height: 58px;
}

